<!-- header -->
<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <span class="px-2" title="Home Page">
      <img src="../../../assets/images/andalusiagroup-logo.png"
           alt="Andalusia Group Logo" width="54" height="37" class="navbar-logo align-text-top">
    </span>
    <span>{{todayDate | date:'dd MMM yyyy'}}</span>
    <div class="dropdown direction-rtl">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
         data-bs-auto-close="true">
        <img src="https://github.com/mdo.png" width="37" height="37" class="rounded-circle bg-dark mx-2" />
        {{userName}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item disabled">Change Password</a></li>
        <li><a class="dropdown-item disabled">Setting</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item disabled">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Content -->
<div class="d-flex h-100vh">
  <!-- Sidenav Menu -->
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100vh">
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="/addEmployee" class="nav-link text-white disabled" aria-selected="false" role="tab" data-bs-toggle="pill">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/addEmployee" class="nav-link text-white active" data-bs-target="#add-employee"
           data-bs-toggle="pill" role="tab" aria-controls="pills-add-employee" aria-selected="true">
          Add Employee
        </a>
      </li>
      <li>
        <a routerLink="/searchEmployee" class="nav-link text-white" aria-selected="false" data-bs-target="#search-employee"
           data-bs-toggle="pill" role="tab" aria-controls="pills-search-employee">
          Search Employee
        </a>
      </li>
    </ul>
  </div>
  <!-- Page Content Menu -->
  <div class="container py-3">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<div class="container-fluid bg-andalusia-primary">
  <div class="container">
    <p class="py-3 text-white">
      Copyright 2021&nbsp;©&nbsp; Ahmed Gamal
    </p>
  </div>
</div>
